@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 81px 0 40px;
}
.header__logo {
  display: inline-block;
  height: 26px;
  width: 86px;
}
.header__title {
  display: inline-block;
  margin: 32px 0 15px;
  color: hsl(0, 0%, 59%);
  line-height: 32px;
  font-size: 1.375rem;
  font-weight: 300;
}
.header__decorator {
  color: hsl(209, 33%, 12%);
  font-weight: 700;
}
.header__text {
  color: hsl(209, 33%, 12%);
  font-size: 0.75rem;
  font-weight: 300;
}
.header__form {
  margin-top: 32px;
}

@media (min-width: 768px) {
  .header {
    margin: 86px 0 94px;
  }
  .header__logo {
    height: 27.2px;
    width: 90px;
  }
  .header__title {
    margin: 42px 0 18px;
    line-height: 60px;
    font-size: 3rem;
  }
  .header__text {
    font-size: 1.25rem;
  }
  .header__form {
    margin-top: 40px;
  }
}
.form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.form--error .form__error {
  position: absolute;
  top: 42px;
  left: 0;
  display: inline-block;
  height: 20px;
  width: 100%;
  color: hsl(354, 100%, 66%);
  text-align: center;
  line-height: 20px;
  letter-spacing: 0.15px;
  font-size: 0.75rem;
  font-weight: 400;
  font-style: italic;
}
.form--error .form__input {
  border: 1px solid hsl(354, 100%, 66%);
}
.form--error .form__input:focus-visible {
  outline: 1px solid hsl(354, 100%, 66%);
}
.form__input {
  position: relative;
  height: 40px;
  width: 281px;
  padding: 10px 0 10px 32px;
  border: 1px solid hsl(223, 100%, 88%);
  border-radius: 28px;
  box-shadow: 0 0 7px 3px hsla(0, 0%, 0%, 0.0001);
}
.form__input:focus-visible {
  outline: 1px solid hsl(223, 87%, 63%);
}
.form__input::placeholder {
  color: hsl(223, 100%, 88%);
  line-height: 20px;
  font-size: 0.75rem;
  font-weight: 300;
}
.form__error {
  display: none;
}
.form__submit {
  height: 40px;
  width: 282px;
  border: none;
  background: hsl(223, 87%, 63%);
  color: hsl(100, 100%, 100%);
  line-height: 16px;
  font-size: 0.75rem;
  font-weight: 600;
  border-radius: 28px;
  box-shadow: 0 5px 10px 2px hsla(223, 87%, 63%, 0.23);
  transition: background 0.3s ease-in-out;
  cursor: pointer;
}
.form__submit:hover {
  background: hsl(223, 77%, 66%);
}

@media (min-width: 768px) {
  .form {
    flex-direction: row;
    gap: 16px;
  }
  .form--error .form__error {
    top: 58px;
    left: 30px;
    text-align: start;
  }
  .form__input {
    height: 56px;
    width: 421px;
    padding: 18px 0 18px 30px;
  }
  .form__input::placeholder {
    font-size: 1rem;
  }
  .form__submit {
    height: 56px;
    width: 200px;
    font-size: 1rem;
  }
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
}
.main__illustration {
  display: inline-block;
  height: 192px;
  width: 320px;
}

@media (min-width: 768px) {
  .main {
    margin-bottom: 72px;
  }
  .main__illustration {
    height: 383px;
    width: 640px;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin-bottom: 37px;
  align-items: center;
}
.footer__copyRight {
  color: hsl(0, 0%, 59%);
  font-weight: 300;
  font-size: 0.625rem;
}

@media (min-width: 768px) {
  .footer {
    gap: 25px;
    margin-bottom: 49px;
  }
  .footer__copyRight {
    font-size: 0.75rem;
  }
}
.socials {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.socials__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 31px;
  width: 32px;
  border: 1px solid hsla(223, 87%, 63%, 0.23);
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
}
.socials__item:hover {
  background: hsl(223, 87%, 63%);
}
.socials__item:hover .socials__icon {
  color: hsl(100, 100%, 100%);
}
.socials__icon {
  color: hsl(223, 87%, 63%);
  transition: color 0.5s ease-in-out;
}

.container,
button {
  font-family: "Libre Franklin", serif;
}

/*# sourceMappingURL=main.css.map */
