.form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: $space-32;

  &--error {
    .form__error {
      position: absolute;
      top: $space-42;
      left: $space-30;
      display: inline-block;
      height: 20px;
      width: 100%;
      color: $light-red;
      line-height: $line-height-20;
      letter-spacing: $letter-spacing-m;
      font-size: $font-size-12;
      font-weight: $font-weight-400;
      font-style: $font-style-italic;
    }

    .form__input {
      border: 1px solid $light-red;

      &:focus-visible {
        outline: 1px solid $light-red;
      }
    }
  }
  &__input {
    position: relative;
    height: 40px;
    width: 281px;
    padding: $space-10 0 $space-10 $space-32;
    border: 1px solid $pale-blue;
    border-radius: $border-radius-28;

    &:focus-visible {
      outline: 1px solid $blue;
    }

    &::placeholder {
      color: $pale-blue;
      line-height: $line-height-20;
      font-size: $font-size-12;
      font-weight: $font-weight-300;
    }
  }

  &__error {
    display: none;
  }

  &__submit {
    height: 40px;
    width: 282px;
    border: none;
    background: $blue;
    color: $white;
    line-height: $line-height-16;
    font-size: $font-size-12;
    font-weight: $font-weight-600;
    border-radius: $border-radius-28;
    box-shadow: 0 5px 10px 2px $shadow-blue;
    cursor: pointer;
  }
}
