.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: $space-81 0 $space-40;

  &__logo {
    display: inline-block;
    height: 26px;
    width: 86px;
  }

  &__title {
    display: inline-block;
    margin: $space-32 0 $space-15;
    color: $gray;
    line-height: $line-height-32;
    font-size: $font-size-22;
    font-weight: $font-weight-300;
  }

  &__decorator {
    color: $dark-blue;
    font-weight: $font-weight-700;
  }

  &__text {
    color: $dark-blue;
    font-size: $font-size-12;
    font-weight: $font-weight-300;
  }

  &__form {
    margin-top: $space-32;
  }
}
