.socials {
  display: flex;
  justify-content: center;
  gap: $space-12;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 31px;
    width: 32px;
    border: 1px solid $shadow-blue;
    border-radius: 50%;
    cursor: pointer;
  }

  &__icon {
    color: $blue;
  }
}
